---
layout: default
title: A Survey of Non-functional Optimization for Mobile Applications
description: A list of research papers for non-functional optimization of mobile applications
---

List of all papers.
Please consider <a href="https://solar.cs.ucl.ac.uk/appoptimization.github.io/contribution.html">contributing</a> by amending
the following list of the existing papers.

<p></p>

<table id="allPapers">
<thead><th>Year</th><th>Title</th><th>Authors</th><th>Venue</th></thead><tbody>
{% assign publicationsByYear = site.publications | sort: "year" | group_by: "year" %}
{% for year in publicationsByYear reversed %}
{% for publication in year.items %}
<tr>
	<td>{{ publication.year }}</td>
	<td>{{publication.title}}</td>
	<td>{{ publication.authors }}</td>
	<td>{{ publication.conference }}</td>
</tr>
{% endfor %}
{% endfor %}
</tbody></table>

<script>
var datatable;

function searchTable() {
    var hash = decodeURIComponent(window.location.hash.substr(1));
    datatable.search(hash).draw();
}


$(document).ready( function () {
    datatable = $('#allPapers').DataTable({
		paging: false,
		"order": [[ 0, 'desc' ], [ 1, 'asc' ]],
	    	"displayLength": 25,
		"columnDefs": [
			{
				targets: [3, 4, 5],
				visible: false,
				searchable: true
			}]
		});
    searchTable();
});

$(window).on('hashchange', function() {
  searchTable();
});
	
</script>
