<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
        <a href="https://solar.cs.ucl.ac.uk/appoptimization.github.io/">
      <h1>
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>      
    </div>

  <nav class="sidebar-nav">
   <a class="sidebar-nav-item{% if page.url == "https://solar.cs.ucl.ac.uk/appoptimization.github.io/papers.html" %} active{% endif %}" href="https://solar.cs.ucl.ac.uk/appoptimization.github.io/papers.html">List of Papers</a>
   <a class="sidebar-nav-item{% if page.url == "https://solar.cs.ucl.ac.uk/appoptimization.github.io/contribution.html" %} active{% endif %}" href="https://solar.cs.ucl.ac.uk/appoptimization.github.io/contribution.html">Contribution</a>
  </nav>

  <div class="sidebar-item">
  </div>
  </div></div>
